.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-block-end: 1rem;
}

.link {
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(53, 53, 53);
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 3.2rem;
  }
}
